# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
backend/backend

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3
backend/server
